.tvs-page {
  min-width: 100vw;
  .list-tvs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;

    .tv-item {
      width: 20%;
      @media only screen and (max-width: 992px) {
        width: calc(100% / 4);
      }
      @media only screen and (max-width: 768px) {
        width: calc(100% / 3);
      }
      @media only screen and (max-width: 600px) {
        width: calc(100% / 2);
      }
    }
  }
}
