.navbar {
  width: 100vw;
  color: white;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  transition: all 1s;

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;

    .left {
      display: flex;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        text-shadow: rgb(0 0 0 / 30%) 1.95px 1.95px 2.6px;
      }

      img {
        height: 25px;
        margin-right: 40px;
      }

      span {
        margin-right: 20px;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          opacity: 70%;
        }

        @media only screen and (max-width: 992px) {
          display: none;
        }
      }
    }

    .right {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 1rem;

      a {
        text-decoration: none;
        color: white;
      }

      .search {
        font-size: 30px;
      }

      .notifucations {
        font-size: 30px;
        margin: 0 12px 0 15px;
      }

      .icon {
        margin: 0px 6px;
        cursor: pointer;
      }

      img {
        width: 32px;
        height: 32px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
          margin-top: 1rem;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }
      }
      &:hover .options {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 100%;
        background-color: white;
        color: black;
        // z-index: 100;
      }
    }
  }
}
