.item-trending {
  position: relative;
  cursor: pointer;
  .card {
    width: 100%;
    padding: 0.2rem;

    img {
      width: 100%;
      border-radius: 2%;
    }

    p {
      color: rgb(255, 255, 255);
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: 600;
    }
  }

  .trailer {
    display: none;
    padding-bottom: 1rem;
    box-shadow: rgba(221, 221, 221, 0.16) 0px 1px 4px;
  }
  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }
  &:hover .trailer {
    display: block;
    position: absolute;
    top: -30%;
    left: -40%;
    background-color: black;
    color: white;
    z-index: 10;
    animation: zoom 1s;
    transform: scale(1.3);
    border-radius: 2%;
    overflow: hidden;
    p {
      padding: 0 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .group-icon-video {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;

      .group-icon-support {
        display: flex;
        gap: 0.5rem;
      }
    }

    .rate {
      text-align: left;
      font-size: 0.8rem;
      padding: 0 0.5rem;
    }

    .time {
      text-align: left;
      font-size: 0.8rem;
      padding: 0 0.5rem;
    }

    .tag {
      display: flex;
      justify-content: start;
      list-style: none;
      padding: 0 0.5rem;
    }
  }
}
